.toast {
  position: fixed;
  bottom: -1px;
  left: 50%;
  transform: translateX(-50%) translateY(100%);
  width: 100%;
  padding: 0.3rem;
  border-radius: 5px;
  background: var(--highlight-color);
  font-size: 0.9rem;
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: center;
  gap: 0.5rem;
  z-index: 200;
  border: 1px solid var(--border-color);
  color: var(--bg-color-card);
  transition: 0.3s;
}

.toast.active {
  transform: translateX(-50%) translateY(0%);
}

@media (max-width: 800px) {
  .toast {
    bottom: 3.5rem;
  }

  .auth-page .toast {
    bottom: -1px;
  }
}
